body {
    font-family: "Fira Sans",Arial,Verdana,sans-serif;
    color: #000;
    font-size: 112.5%;
    line-height: 1.5em;
}

.dataviz-scroller {
  margin: 0 auto;
  max-width: 680px;
  position:relative;
}

#opening-text {
  margin-top: 20%;
}

.chart-wrapper {
  display:none;
  position: fixed;
  bottom:20px;
  left:50%;
  margin-left: -240px;
  z-index: 0;
}

.chart-container {
  display:none;
  position:absolute;
  bottom:0;
  left:0;
  width: 100%;
}

.text-wrapper {
  font-size:20px!important;
  position:relative;
  width:100%;
  text-align: center;
  padding-bottom: 1px;
  z-index: 1;
  pointer-events: none;
  margin-bottom: 500px;
}

.trigger {
  opacity:0;
  width:80%;
  padding:5px 10px;
  margin:0 auto;
  margin-bottom: 500px;
  background-color: rgba(240, 240, 240, 0.8);
  text-align:left;
  font-size: 20px;
}

.highlight {
  display: inline-block;
  padding:0px 5px;
  background: #40c0f0;
  /* Old browsers */
  background: linear-gradient(to left, transparent 50%, #40c0f0 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 2s ease;
}

.background {
  display: inline-block;
  padding:0px 5px;
  background: #40c0f0;
  /* Old browsers */
  background: linear-gradient(to left, transparent 50%, #40c0f0 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 2s ease;
}

.background-asia {
  display: inline-block;
  padding:0px 5px;
  background: #377eb8;
  /* Old browsers */
  background: linear-gradient(to left, transparent 50%, #377eb8 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 2s ease;
}

.background-eu {
  display: inline-block;
  padding:0px 5px;
  background: #4daf4a;
  /* Old browsers */
  background: linear-gradient(to left, transparent 50%, #4daf4a 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 2s ease;
}

.background-na {
  display: inline-block;
  padding:0px 5px;
  background: #984ea3;
  /* Old browsers */
  background: linear-gradient(to left, transparent 50%, #984ea3 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 2s ease;
}

.background-large {
  display: inline-block;
  padding:0px 5px;
  background: #edad08;
  /* Old browsers */
  background: linear-gradient(to left, transparent 50%, #edad08 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 2s ease;
}

.background-small {
  display: inline-block;
  padding:0px 5px;
  background: #fe4700;
  /* Old browsers */
  background: linear-gradient(to left, transparent 50%, #fe4700 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 2s ease;
}

.changeBackground {
  color:white;
  background-position:left bottom;
}

@media (max-width: 500px ) { 
    .trigger {font-size: 16px; line-height: 20px;}
} 